@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body {
    background-color: #131928;
}

.titulo-ejercicio {
    display: flex;
    align-items: flex-end;
    padding-left: 10vmin;
    height: 50vmin;
    background-color: white;
    white-space: pre-wrap;
}

.expansion-celeste {
    height: 40vmin;
    background-color: #6b96f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8vmin;          
    padding-left: 30vmin;
}

.expansion-celeste h2 {
    display: flex;
    flex-direction: column;
    gap: 1vmin;             
}

.your-app {
    font-size: 7vmin;
    font-weight: 300; 
    color: #1e293b;   
    margin-top: 3vmin;
}

/* Renglón 2 */
.e-ready {
    font-size: 7vmin;  
    font-weight: 800;   
    color: #0f172a;     
    letter-spacing: -0.1vmin; 
    margin-top: -3vmin;
}

/* Renglón 3 (WorkOS) */
.work-os {
    font-size: 3.5vmin;
    font-weight: 600;
    color: #0f172a;
}

.secc-feat-art {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vmin;
    background-color: white;
    border-bottom: 5px dashed black;
}

.secc-feat-art h2 {
    font-size: 4vmin;
    font-weight: 500;
    letter-spacing: -0.1vmin;
    padding-top: 3.5vmin;
    padding-bottom: 3.5vmin;
    padding-left: 43.8vmin;
}

.dupla-articulos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.8vmin;
    margin-bottom: 2.8vmin;
}

.tarjeta-articulo {
    width: 60vmin;
    height: 22vmin;
    border: 1px solid;
    padding: 2.4vmin;
    border-color: #9b9a9a;
    border-radius: 1.2vmin;
    overflow: hidden;
    position: relative;zz
}

.tarjeta-articulo a {
    text-decoration: none;
}

.tarjeta-articulo a:hover {
    text-decoration: underline;
}

.categoria-articulo a {
    font-size: 2vmin;
    color: #60656b;
}
.titulo-mnd a {
    font-size: 2.7vmin;
    letter-spacing: -0.1vmin;
    color: #3b3b3b;
}

.resumen-articulo {
    position: relative;
    overflow: hidden;
    padding-top: 2vmin;
    font-size: 2.1vmin;
    line-height: 2.4vmin;
    text-align: left;

    /* El truco del recorte */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;        /* Corta en el 3er renglón */
    overflow: hidden;             /* Oculta lo que sobra */
    
    color: #1d1d1d;
}

.resumen-articulo::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;       /* Cubre todo el ancho del final del párrafo */
    height: 1.5em;     /* Mide exactamente el alto de una línea de texto */
    
    /* Degradado que va desde transparente (izquierda) hasta blanco (derecha) */
    background: linear-gradient(to right, transparent 60%, rgba(255, 255, 255, 1) 95%);
    
    pointer-events: none; /* Hace que puedas hacer clic a través de esta capa sin molestar */
}

.negocios {
    height: 23vmin;
    background-color: #304250;
}

.footer-blizz {
    height: 80vmin;
}

.grupo-superior {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 6vmin;
    margin-right: 6vmin;
    padding-top: 19.5vmin;
    padding-bottom: 5.5vmin;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.orbe {
    height: 4vmin;
}

.contenedor-idioma {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5vmin; /* Separa la Tierra del texto */
    border-radius: 50px;
}

.selector-idioma {
    color: #ffffff;
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: 2.9vmin;
    font-weight: 500;
    outline: none;
    cursor: pointer;
    padding: 0;
}

.menu-foot-item {
    color: white;
    font-size: 2.9vmin;
    font-weight: 500;
    letter-spacing: -0.13vmin;
    text-decoration: none;
    padding-left: 1.6vmin;
    padding-right: 1.6vmin;
    padding-top: 2vmin;
    padding-bottom: 2vmin;
    border-radius: 0.8vmin;
    border: none;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
}

.menu-foot-item:hover {
    background-color: rgba(255, 255, 255, 0.08);     /* este es el color del hover */
    color: #ffffff;                                  /* mantiene el color de la fuente */
}

.grupo-inferior {
    padding-top: 5vmin;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 6vmin;
    margin-right: 6vmin;
    transition: color 0.2s ease-in-out;
}



.logo-footer {
    height: 13vmin;
}

.margen-izq {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.8vmin;

}

.fila-legal-redes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30vmin;
}

.inc {
    color: #898b91;
    font-size: 2.2vmin;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.enlace-marcas {
    color: #c4c6ca;
}

.redes-sociales {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 2vmin;
}

.redes-sociales a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    /* Tamaño del círculo */
    width: 6.5vmin;
    height: 6.5vmin;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.08);    /* es un blanco, con 0.08 de opacidad) */
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;    /* Transición al pasar el mouse por encima */
}

.redes-sociales a:hover {
    background-color: rgba(255, 255, 255, 0.2);     /* Un gris más claro del hover */
}

.redes-sociales a i {
    color: #ffffff;
    font-size: 3vmin;                                 /* tamaño del icono interior */
}

.terminos {
    text-decoration: none;
    color: #c4c6ca;
    font-size: 2.35vmin;
    font-weight: 500;
    letter-spacing: -0.11vmin;
    word-spacing: -.06vmin;
    padding: 0.22vmin 1.8vmin 0.22vmin 1.8vmin;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
}

.terminos:hover {
    background-color: rgba(255, 255, 255, 0.08);    /* color del hover logrado con un translucido */
    color:white;                                    /* la letra sigue siendo blanca */
}